.cache
.nyc_output
.rpt2_cache
.vscode
assets-source
dist-demo
node_modules
src
src-demo
test
.gitattributes
.prettierrc.js
ava.config.js
ava.typescript-register.js
gulpfile.js
MIGRATING.md
package.lock.json
release-gh-page.js
rollup.config.js
tsconfig.json
