.cache
.nyc_output
.vscode
assets-source
dist-demo
node_modules
src
src-demo
.gitattributes
.prettierrc.js
ava.config.js
gulpfile.js
MIGRATING.md
package.lock.json
release-gh-page.js
rollup.config.js
yarn-error.log
