include _menu.pug

doctype html

block vars

- var title = pageTitle || ''

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title=`vh-check – ${title}`
    link(rel="stylesheet", href=`${root}/demo.css`)

  body
    ul.witness
      li.witness__panel.witness__panel--menu
        block nav
      li.js-check.witness__panel.witness__panel--with-check
      li.witness__panel.witness__panel--no-check 100vh without check
    block content
