:root {
  --vh-offset: 0px;
  --vh: 1vh;
}
* {
  box-sizing: border-box;
}
html {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 112.5%;
}
body {
  background: hsl(249, 100%, 85%);
  margin: 0;
  padding: 0;
}
body::after {
  content: '';
  display: table;
  clear: both;
}
p {
  height: calc(100vh - var(--vh-offset));
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.with-vh-unit {
  height: calc(100 * var(--vh));
}
.witness {
  list-style: none;
  padding: 0;
  margin: 0;
}
.witness__panel {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.witness__panel--menu {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
.witness__panel--with-check {
  min-height: 300px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.witness__panel--no-check {
  clear: left;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #c04848, #480048);
  color: white;
  font-size: calc(1.5vh + 1.5vw + 1.5vmin);
}

.menu {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.menu__item {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: 700;
  font-size: calc(1vh + 1vw + 1vmin);
}
.menu__item a {
  color: currentColor;
  text-decoration: none;
}
.menu__item--active {
  pointer-events: none;
  color: white;
}
.menu__item--active::before,
.menu__item--active::after {
  white-space: pre;
}
.menu__item--active::before {
  content: '• ';
}
.menu__item--active::after {
  content: ' •';
}
