extends _layout.pug

block vars
  - var pageTitle = `global`

block nav
  +menu(0)

block content
  script( src="https://unpkg.com/vh-check/dist/vh-check.min.js")
  script.
    (function () {
      var test = vhCheck();
      var message = (!test ? 'not ' : '') + 'needed.<br/>Gap is: ';
      var value = document.documentElement.style.getPropertyValue('--vh-offset');
      value = value ? value : '0px';
      message = message + value;
      const domCheckWrapper = document.querySelector('.js-check');
      domCheckWrapper.innerHTML = message;
    }());
